<div id="main" data-role="header">


</div>
<div id="main-body" data-role="content">

<center>
<img src="images/LR_images-04.png"><br><br>
<img src="images/LR_images-05.png"><br><br>
<%= link_to image_tag("foursquare-login.png"), @authorize_url %>
<br><br>


</center>
</div>