
  <script language="Javascript" type="text/javascript">
  function successFunction(position) {
    var lat = "" + position.coords.latitude;
    var long = "" + position.coords.longitude;
 //   console.log(lat);
   // console.log(long);
   lat = lat.replace('-','^');
    long = long.replace('-','^');
  
    document.write('<a href="/toilets/nearby/'+lat+'/'+long+'">Nearby Toilets</a>');
    //('aalert latitude is :'+lat+' and longitude is '+long);
}
function errorFunction(position) {
    alert('Error!');
}
  //Check if browser supports W3C Geolocation API
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} else {
    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
    </script>
  