  <script language="javascript" type="text/javascript">
  function successFunction(position) {
    var lat = "" + position.coords.latitude;
    var long = "" + position.coords.longitude;
 //   console.log(lat);
   // console.log(long);
   lat = lat.replace('.','~');
   long = long.replace('.','~');
   lat = lat.replace('-','^');
    long = long.replace('-','^');
  $('#num1').attr('href', '/toilets/nearby/'+lat+'/'+long);
  $('#num2').attr('href', '/toilets/nearby/'+lat+'/'+long);
}
function errorFunction(position) {
    alert('Error!');
}
  //Check if browser supports W3C Geolocation API
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} else {
    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
    </script>
  
<div data-role="header" data-position="inline">
    <h1>Which one?</h1>
    
    
</div>
<div id="pick1" data-role="content">
<a id="num1" style="left: 5px; margin-top: 15px; float: left; position: absolute; z-index: 100;">
    <img src="images/LR_images-06.png"><br><br>
    <img src="images/LR_images-08.png">
                        </a>
    <a id="num2" style="right: 5px; margin-left: 10px; margin-top: 15px; float: left; position: absolute; z-index: 100;">
    <img src="images/LR_images-07.png"><br><br>
    <img src="images/LR_images-09.png" style="margin-top: 106px;">
    
    </a>
    <img src="images/LR_images-14.png">

       <div id="blueness" style="position: absolute; background-color: #D5E7F0; width:100%; height: 100px; top: 403px; z-index: 1; left: 0;">
    </div>
 
    </div>