<script language="Javascript" type="text/javascript">
  function successFunction(position) {
    var lat = "" + position.coords.latitude;
    var long = "" + position.coords.longitude;
 //   console.log(lat);
   // console.log(long);
   lat = lat.replace('.','~');
   long = long.replace('.','~');
   lat = lat.replace('-','^');
    long = long.replace('-','^');
  $('#num1').attr('href', '/toilets/nearby/'+lat+'/'+long);
  $('#num2').attr('href', '/toilets/nearby/'+lat+'/'+long);
}
function errorFunction(position) {
    alert('Error!');
}
  //Check if browser supports W3C Geolocation API
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} else {
    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
    </script>
  
<div data-role="header" data-position="inline">
    <h1>Which one?</h1>
    
    
</div>
<div id="pick1" data-role="content">
<a id="num1" style="left: 5px; margin-top: 15px; float: left;">
    <img src="images/LR_images-06.png"><br><br>
    <img src="images/LR_images-08.png">
                        </a>
    <a id="num2" style="right: 5px; margin-left: 10px; margin-top: 15px; float: left;">
    <img src="images/LR_images-07.png"><br><br>
    <img src="images/LR_images-09.png">
    
    </a>
    </div>
    