<html>
<head>

<title>Loo Review</title>

	<!-- meta -->
	<meta name="author" content="Mike De'Shazer (@itsdeshazer), Jonathan Gottfried (@jonmarkgo), Vanessa Kincaid (@vkinc), Freddy Lopez (freddyl.com) // Done during 4SQ Hack Day NYC 2011" />
	<meta name="description" content="Find and rate restrooms nearby" />
	<meta name="keywords" content="find a restroom, easy web app, restroom finder, find nearest bathroom in nyc, find nearest restrooom, free app bathrom finder, find a restroom, loo review, loo finder, loo app, app for finding bathrooms, foursquare hack day, foursquare hack day app, nyc app" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
	<script src="/javascripts/main.js"></script>
	
	
</head>

<body>

<div data-role="page" style="background-image: url(/images/LR_images-13.png); background-repeat:repeat;">
<%= yield %>



</div>


</body>
</html>